.container{display: grid;
border: 3px solid black; background-color: black;

margin: 10px;
height: 100vh;
grid-template-columns: repeat(3,1fr);
gap: 10px;

}
.grid{border: 2px solid salmon;
width: 400PX;height: 200PX;}

.grid-1{display: grid;

grid-template-columns: repeat(3,1fr);
gap: 3px;


}



.grid-1-items{border: 2px solid red;}

.grid-2{display: grid;

grid-template-columns: 1fr 1fr  1fr; gap: 3px;

}

.grid-2-items{border: 2px solid red;}
   
.grid-2-item-1{grid-column: 1/3;}
 .grid-2-item-2{grid-column: 3/4;
grid-row: 1/3;}




 .grid-3{display: grid;
grid-template-columns: 1FR 1FR 1fr ;
gap: 3px;

}


.grid-3-items{border: 2px solid red;}

.grid-3-item-1{grid-column: 1/4;}
.grid-3-item-3{grid-column: 2/4;}
.grid-3-item-4{grid-column: 1/4;}


.grid-4{display: grid;
gap: 3px;   grid-template-columns: 1fr 1fr 1fr 1fr;}

.grid-4-items{border: 2px solid red}
.grid-4-item-1{grid-column: 1/3;}
.grid-4-item-2{grid-column: 3/5;}
 .grid-4-item-3{grid-row: 2/2;
grid-column: 1/2;}
.grid-4-item-4{grid-column: 2/5;}
.grid-4-item-5{grid-column: 1/5;}
 .grid-5{display: grid; gap: 3px; grid-template-columns: repeat(6,1fr);}
 .grid-5-items{border: 2px solid red}

 .grid-6-items{border: 2px solid red}
 .grid-6{display: grid;
gap: 3px;grid-template-columns: repeat(4,1fr);}



.grid-6-item-1{grid-column: 1/3;}
.grid-6-item-9{grid-row: 3/5;
grid-column: 1/3;}

.grid-6-item-13{grid-column: 1/4;}


.grid-7-items{border: 2px solid red}

.grid-7{display: grid;
gap: 3px;grid-template-columns: 2fr 1fr 1fr;}
.grid-7-item-2{grid-column: 2/4;}
.grid-7-item-3{grid-row: 2/4
    ;}
    .grid-7-item-4{grid-column: 2/4;}
    .grid-8{display: grid;
    gap: 3px;grid-template-columns: repeat(5,1fr);
    
    }
    .grid-8-item-8{grid-column: 3/6;}
    .grid-8-item-9{grid-column: 1/6;}
    .grid-8-items{border: 2px solid red}
    .grid-9{display: grid;gap: 3px;grid-template-columns:1fr 1fr 1fr;}
    .grid-9-items{border: 2px solid red}
    .grid-9-item-1{grid-column: 1/4;}
    .grid-9-item-2{
    grid-row: 2/4;}
    .grid-9-item-3{grid-column: 2/4;}

@media (width:700px) {.container{grid-template-columns: 1fr;}
    
}
    
    